PORT=5001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5433
DB_NAME=ngo-donation-portal
DB_USER=postgres
DB_PASSWORD=Aryan@2005

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d

NGO_NAME=Helping Hands NGO

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@ngo.org
ADMIN_PASSWORD=change_this_password
